h1{
    margin: 0!important;
    padding: 0!important;
    font-size: 45px;
    font-weight: bold;
}

.header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    padding: 120px 0;
}
